<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label>Username</label>
            <input formControlName="username" />
            <small *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
                username is required
            </small>
        </div>
        <div>
            <label>Password</label>
            <input formControlName="password" type="password" />
            <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                password is required
            </small>
        </div>

        <div *ngIf="errMsg" style="color: red">{{ errMsg }}</div>

        <button type="submit" [disabled]="submitting">Login</button>
    </form>
</div>