<div class="container">
  <div class="header">
    <div class="intro">
      <h1>Available apartments</h1>
      <p>
        Explore our selection of apartments available for rent. Find your
        perfect home today!
      </p>
    </div>
    <div class="search-bar">
      <input [(ngModel)]="inputData" type="text" placeholder="Search apartments..." />
      <select class="form-select w-25" [(ngModel)]="selectedLocation" aria-label="Default select example">
        <option class="w-24" value="">All Locations</option>
        <option class="w-24" *ngFor="let location of locations" [value]="location">
          {{ location }}
        </option>
      </select>
      <button (click)="search()" class="btn">Search</button>
      <button (click)="clear()" class="btn">X</button>
    </div>
    <div *ngIf="!userRole" class="add-apartment">
      <a routerLink="/apartment/add" class="btn btn-primary">Add Apartment</a>
    </div>
  </div>

  <div class="apartment-list">
    <app-apartment-card *ngFor="let apartment of apartments" [apartment]="apartment" />
  </div>
  <app-apartment-list-skeleton *ngIF="loading" [itemCount]="3" />
</div>